pipeline/Extraction Blob Storage.json
{
	"name": "Extraction Blob Storage",
	"properties": {
		"description": "Data ingestion from Azure Blob Storage",
		"activities": [
			{
				"name": "Check if file exists",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_raw_dl_population",
						"type": "DatasetReference"
					},
					"timeout": "0.12:00:00",
					"sleep": 10,
					"minimumSize": 5120
				}
			},
			{
				"name": "If column count is correct",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get file Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get file Metadata').output.columnCount, 13)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Extraction Blob Storage",
							"description": "Data ingestion from Azure Blob Storage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": true,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "indic_de,geo\\time",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "indic_de,geo\\time",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2008 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2008 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2009 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2009 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2010 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2010 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2011 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2011 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2012 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2012 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2013 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2013 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2014 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2014 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2015 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2015 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2016 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2016 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2017 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2017 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2018 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2018 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2019 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2019 ",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_raw_dl_population",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_raw_dw_population",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get file Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Check if file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_raw_dl_population",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"folder": {
			"name": "Extraction"
		},
		"annotations": []
	}
}